@media screen{
	@font-face {
		font-family: "TitilliumText";
		src: url("https://dl.dropboxusercontent.com/u/274954519/TitilliumText.woff") format('woff');
	}
}

body {
	background-image: url("https://dl.dropboxusercontent.com/u/274954519/img/background.png");
	margin: 0;
	font-family: 'TitilliumText';
}
header{
	background-color: #FEDE0D;
	height: 100px auto;
	text-align: center;
}

footer{
	background-color: #CC1A1A;
	color: #FFFFFF;
	padding: 8px;
	text-align: right;
	border-width: 1px; border-style: dashed;
}


/*Animation logo*/
@-webkit-keyframes logo-anim{
	from {
		-webkit-transform: rotate(0deg);
	}to{
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes minilogo-anim{
	from {
		-webkit-transform: rotate(360deg);
	}to{
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes logo-anim{
	from {
		-moz-transform: rotate(0deg);
	}to{
		-moz-transform: rotate(360deg);
	}
}

@-moz-keyframes minilogo-anim{
	from {
		-moz-transform: rotate(360deg);
	}to{
		-moz-transform: rotate(0deg);
	}
}


.LOGO-RIGHT{
	-webkit-animation: logo-anim 5s infinite linear;
	-moz-animation: logo-anim 5s infinite linear;
}

.LOGO-LEFT{
	-webkit-animation: minilogo-anim 5s infinite linear;
	-moz-animation: minilogo-anim 5s infinite linear;
}

.title{
	font-size: 64px;
	padding: 8px;
	text-shadow: 0 0 12px #000000;
	vertical-align: middle;
	/*border-width: 1px; border-style: solid;*/
}

.headLinks{
	padding: 2px;
	text-align: left;
	background-color: #CC1A1A;
	font-size: 16px;
	margin: 0;
	min-height: 24px;
}

.headLinks a{
	text-decoration: none;
	color: #FFFFFF;
	padding: 2px;
	border-style: dashed;	border-width: 1px;
	
}

.headLinks a:hover{
	background-color: #FF2A2A;
}

.headLinks img{
	vertical-align: middle;
}

.post{
	background-color: #FEDE0D;
	width: 80%;
	margin: 20px auto;
	padding: 4px;
	
	border-color: #000000;
	border-style: dashed;
	border-width: 2px;
}

.post_title{
	font-size: 32px;
	font-weight: bold;
	padding: 4px;
}
.post_body{
	font-size: 16px;
	text-align: left;
	padding: 0 10px;
}
.post_images{
	text-align: center;
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
.post_images img{
	width: 300px;
	max-width: 100%;
	border-color: #303030;
	border-style: outset;
	border-width: 4px;
}

.post_download{
	margin: 10px 0;
}

.post_download a{
	padding: 2px;
	display: inline-block;
}

.post_download a img{
	vertical-align: middle;
	margin: 8px;
	max-width: 28px;
}
