
<div class="panel panel-post">
	<div class="panel-heading">
		<span>Links</span>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item">
				<a href="http://onegameamonth.com/FEDE0D" target="_blank"> <span><img src="{{site.baseurl}}/assets/site/img/1GAM_icon.png" width="32px"/> OneGameAMonth</span> </a>
			</li>
			<li class="list-group-item">
				<a href="https://www.youtube.com/channel/UCf1t2cnZEkUqDkDjvY6-NNw"> <span><img src="{{site.baseurl}}/assets/site/img/youtube.ico" width="32px"/> /pixelatedgears</span> </a>
			</li>
			<li class="list-group-item">
				<a href="https://twitter.com/FEDE0D" class="twitter-follow-button" data-show-count="false">Follow @FEDE0D</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</li>
			<li class="list-group-item text-center">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="8J9JZ4YZC9A82">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
				</form>
			</li>
		</ul>
	</div>
</div>
