{% if page.images %}

<div class="panel-body">
	<div class="well">
		<div class="container-fluid">
			<div class="row">
				{% for img in page.images %}
				{% assign row = forloop.index | modulo:3 %}
				{% if row == 0 %}
				<div class="row">
				{% endif %}
				<div class="col-md-4">
					<img class="img-responsive img-thumbnail" src="{{site.baseurl}}/assets/posts/{{img}}">
				</div>
				{% if row == 0%}
				</div>
				{% endif %}

				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endif %}