---
layout: default
---

<div class="row">
	<div class="col-md-1"> </div>
	<div class="col-md-10">
		<div class="panel panel-gears" style="margin: 16px 4px">
			<div class="panel-heading">{{page.title}}
				<div class="tags">
					(
						{% for tag in page.tags %}
							<a href="#">{{tag}}</a>
						{% endfor %}
					)
				</div>
			</div>
			<div class="panel-body">
				{{content}}
			</div>
			
			<hr />
			{% if page.downloads %}
			<div class="panel-body">
				<ul class="no-list">
					<li><strong>
							{% if page.download-title %}
								{{page.download-title}}
							{% else %}
								Downloads:
							{% endif %}
					</strong></li>
					{% for download in page.downloads %}
					<li>
						<a href="{{download.url}}"><span class="glyphicon"><img style="max-width:48px;" src="{{site.baseurl}}/assets/site/img/download-icons/{% if download.icon %}{{download.icon}}{% else %}download.png{% endif %}"></span> {{download.info}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			<div class="panel-footer"> </div>
		</div>
	</div>
	<div class="col-md-1"> </div>
</div>