---
layout: main
---

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-post">
				<div class="panel-heading">
					<span class="text-uppercase" style="font-weight: bold;">{{page.title}}</span>
					<span class="pull-right text-muted">{{page.date | date: "%D"}}</span>
					<div class="text-muted small">
							{% for tag in page.tags %}
								<a href="#" style="font-size: 80%">{{tag}}</a>
							{% endfor %}
							<span class="text-muted glyphicon glyphicon-tag"> </span>
					</div>
				</div>
				<div class="panel-body">
					{{content}}
				</div>
				
				{% if page.downloads %}
				<div class="panel-body">
					<strong style="margin-bottom: 8px;">
							{% if page.download-title %}
								{{page.download-title}}
							{% else %}
								Downloads:
							{% endif %}
					</strong>
					<ul class="list-group">
						{% for download in page.downloads %}
						<li class="list-group-item">
							<a href="{{download.url}}"><span class="glyphicon"><img style="max-width:48px; padding: 4px;" src="{{site.baseurl}}/assets/site/img/download-icons/{% if download.icon %}{{download.icon}}{% else %}download.png{% endif %}"></span> {{download.info}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
				
				{% if page.comments == false %}
				<!--no comments allowed-->
				{% else %}
				<hr style="margin-top: 8px;"/>
				<div class="panel-body">
					<div class="col-sd-12">
						<div class="panel panel-default" style="margin: 16px 4px">
							<div class="panel-body">
								<div id="disqus_thread"></div>
								<script type="text/javascript">
								    /* * * CONFIGURATION VARIABLES * * */
								    var disqus_shortname = 'pixelatedgears';
								    var disqus_identifier = "{{ page.url }}";
								    
								    /* * * DON'T EDIT BELOW THIS LINE * * */
								    (function() {
								        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
								        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
								        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
								    })();
								</script>
								<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>